html,body
{
width:100%;
height:100%;
}

body
{
background:url("../Image/bg_1.jpg"); 
background-size: cover;
}

div.mainpart
{
position: absolute;
top: 20%;
background-color: aliceblue;
border-radius: 2%;                      /*圆角宽度*/
margin-left:5%;
}

h1.maintitle
{
color:blueviolet;
margin-left: 10%;
}

p
{
font-size: 120%;
margin-left: 5%;
}

p.bushi
{
text-decoration: line-through;
}

button.normal
{
background-color:azure;
border: 1px solid aqua;
width:30%;
min-height:20%;
font-size: 110%;
box-shadow: 2px 2px 5px paleturquoise;
margin-left: 10%;
}

a button.normal:hover
{
box-shadow: 4px 4px 5px paleturquoise;
}